DATABASE_URL=postgresql+asyncpg://USER:PASS@HOST/DBNAME?sslmode=require
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=*** NEXT_PUBLIC_API_URL=http://localhost:8000
STRIPE_SECRET_KEY=sk_tes...n
STRIPE_WEBHOOK_SECRET=*** CORS_ORIGINS=["http://localhost:3000"]
